# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm/

# IDE specific files
.vscode/
.idea/
